.Card {
  display: grid;
  place-items: center;
  padding: 40px 20px;
  width: 300px;
  height: auto;
  background: rgb(243, 243, 243);
  color: gray;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(26, 25, 25, 0.15);
}

.Card__Name {
  line-height: 1;
  margin: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 40px;
}

.Card__Image {
  width: 50%;
}

.Card__Types-List {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.Card__Types-List--Item {
  background-color: white;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}
